
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Yral Concepts</title>
		<meta name="robots" content="noindex, follow">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
		<!-- CSS
			============================================ -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="/css/fontawesome.css">
		<!-- Flaticon -->
		<link rel="stylesheet" href="/css/flaticon.css">
		<!-- Base Icons -->
		<link rel="stylesheet" href="/css/pbminfotech-base-icons.css">
		<!-- Themify Icons -->
		<link rel="stylesheet" href="/css/themify-icons.css">
		<!-- Slick -->
		<link rel="stylesheet" href="/css/swiper.min.css">
		<!-- Magnific -->
		<link rel="stylesheet" href="/css/magnific-popup.css">
		<!-- AOS -->
		<link rel="stylesheet" href="/css/aos.css">
		<!-- Shortcode CSS -->
		<link rel="stylesheet" href="/css/shortcode.css">
		<!-- Base CSS -->
		<link rel="stylesheet" href="/css/base.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="/css/style.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="/css/responsive.css">
	</head>
	<body>

	<!-- page wrapper -->
	<div class="page-wrapper" id="page">

        <%- include('../partials/header') %>

		<!-- page content -->
		<div class="page-content">
            <%- body %>
		</div>
		<!-- page content End -->

		<!-- footer -->
        <%- include('../partials/footer') %>
       
		<!-- footer End -->

	</div>
	<!-- page wrapper End -->

	<!-- Search Box Start Here -->
	<div class="pbmit-search-overlay">
		<div class="pbmit-icon-close">
			<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="28.163" height="28.163" viewBox="0 0 26.163 26.163">
				<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
				<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
			</svg>
		</div>
		<div class="pbmit-search-outer"> 
			<form class="pbmit-site-searchform">
				<input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
				<button type="submit"></button>
			</form>
		</div>
	</div>
	<!-- Search Box End Here -->

	<!-- Scroll To Top -->
	<div class="pbmit-progress-wrap">
		<svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 19.2859;"></path>
		</svg>
	</div>
	<!-- Scroll To Top End -->
	
	<!-- JS
		============================================ -->
	<!-- jQuery JS -->
	<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- jquery Waypoints JS -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- jquery Appear JS -->
	<script src="/js/jquery.appear.js"></script>
	<!-- Numinate JS -->
	<script src="/js/numinate.min.js"></script>
	<!-- Slick JS -->
	<script src="/js/swiper.min.js"></script>
	<!-- Magnific JS -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- Circle Progress JS -->
	<script src="/js/circle-progress.js"></script> 
	<!-- countdown JS -->
	<script src="/js/jquery.countdown.min.js"></script> 
	<!-- AOS -->
	<script src="/js/aos.js"></script>
	<!-- GSAP -->
	<script src='js/gsap.js'></script>
	<!-- Scroll Trigger -->
	<script src='js/ScrollTrigger.js'></script>
	<!-- Split Text -->
	<script src='js/SplitText.js'></script>
	<!-- Magnetic -->
	<script src='js/magnetic.js'></script>
	<!-- Theia Sticky Sidebar JS -->
	<script src='js/theia-sticky-sidebar.js'></script>
	<!-- GSAP Animation -->
	<script src='js/gsap-animation.js'></script>
	<!-- Scripts JS -->
	<script src="/js/scripts.js"></script>

	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"91f8c1910ae1c87a","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"125856bf84ab44059737e93b01aa0fef"}' crossorigin="anonymous"></script>
</body>
</html>