<div class="pbmit-slider-area pbmit-slider-one">
    <div class="swiper-slider" data-autoplay="true" data-loop="true" data-dots="true" data-arrows="false"
        data-columns="1" data-margin="0" data-effect="fade">
        <div class="swiper-wrapper">
            <!-- Slide1 -->
            <div class="swiper-slide">
                <div class="pbmit-slider-item">
                    <div class="pbmit-slider-bg"
                        style="background-image: url(https://www.purecult.in/cdn/shop/files/waterday_mobile_version.jpg?v=1741875776&width=3000);">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-7">
                                <div class="pbmit-slider-content">
                                    <h5 class="pbmit-sub-title transform-delay-1">Needs Professional Cleaning</h5>
                                    <h2 class="pbmit-title transform-left transform-delay-2">Let Us Do Your <br>
                                        Dirty Work</h2>
                                    <p class="pbmit-desc transform-bottom transform-delay-3">Hire us! We are a
                                        professional cleaning company offering services.</p>
                                    <div class="pbmit-button transform-bottom transform-delay-4">
                                        <a class="pbmit-btn pbmit-btn-global" href="services.html">
                                            <span class="pbmit-button-content-wrapper">
                                                <span class="pbmit-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76"
                                                        height="22.76" viewBox="0 0 22.76 22.76">
                                                        <title>black-arrow</title>
                                                        <path
                                                            d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1,1,22.34"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                    </svg>
                                                </span>
                                                <span class="pbmit-button-text">Our Services</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Slide2 -->
            <div class="swiper-slide">
                <div class="pbmit-slider-item">
                    <div class="pbmit-slider-bg"
                        style="background-image: url(https://xclean-demo.pbminfotech.com/html-demo/images/banner-slider-img/demo1-slide02.png);">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-7">
                                <div class="pbmit-slider-content">
                                    <h5 class="pbmit-sub-title transform-top transform-delay-1">Ultimate Clean
                                        Solutions</h5>
                                    <h2 class="pbmit-title transform-left transform-delay-2">Cleaning made fun <br>
                                        not a chore!</h2>
                                    <p class="pbmit-desc transform-bottom transform-delay-3">Hire us! We are a
                                        professional cleaning company offering services.</p>
                                    <div class="pbmit-button transform-bottom transform-delay-4">
                                        <a class="pbmit-btn pbmit-btn-global" href="services.html">
                                            <span class="pbmit-button-content-wrapper">
                                                <span class="pbmit-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76"
                                                        height="22.76" viewBox="0 0 22.76 22.76">
                                                        <title>black-arrow</title>
                                                        <path
                                                            d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1,1,22.34"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                    </svg>
                                                </span>
                                                <span class="pbmit-button-text">Our Services</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide3 -->
            <div class="swiper-slide">
                <div class="pbmit-slider-item">
                    <div class="pbmit-slider-bg"
                        style="background-image: url(https://xclean-demo.pbminfotech.com/html-demo/images/banner-slider-img/demo1-slide03.png);">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-7">
                                <div class="pbmit-slider-content">
                                    <h5 class="pbmit-sub-title transform-top transform-delay-1">Your clean, our
                                        guarantee.</h5>
                                    <h2 class="pbmit-title transform-left transform-delay-2">Cleaning with a <br>
                                        personal touch</h2>
                                    <p class="pbmit-desc transform-bottom transform-delay-3">Hire us! We are a
                                        professional cleaning company offering services.</p>
                                    <div class="pbmit-button transform-bottom transform-delay-4">
                                        <a class="pbmit-btn pbmit-btn-global" href="services.html">
                                            <span class="pbmit-button-content-wrapper">
                                                <span class="pbmit-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76"
                                                        height="22.76" viewBox="0 0 22.76 22.76">
                                                        <title>black-arrow</title>
                                                        <path
                                                            d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1,1,22.34"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                    </svg>
                                                </span>
                                                <span class="pbmit-button-text">Our Services</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-us-sec-one fadeIn animated animated-slow pbmit-bg-color-light">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-12 col-xl-5 about-us-one-col-1">
                <div class="about-us-one-left">
                    <div class="pbmit-ihbox-style-5">
                        <div class="pbmit-ihbox-wrap">
                            <div class="pbmit-icon-wrap">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                        <i class="pbmit-xclean-icon pbmit-xclean-icon-home-service"></i>
                                    </div>
                                </div>
                                <h4 class="pbmit-element-subtitle">
                                    Free Services
                                </h4>
                            </div>
                            <div class="pbmit-contents-wrap">
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Free Evaluation Of Your <br>
                                        Cleaning Needs
                                    </h2>
                                </div>
                                <div class="pbmit-ihbox-btn">
                                    <a href="contact-us.html">
                                        <span class="pbmit-button-text">Read More</span>
                                        <span class="pbmit-button-icon-wrapper">
                                            <span class="pbmit-button-icon">
                                                <i class="pbmit-base-icon-black-arrow-1"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-2 about-us-one-col-2">
                <div class="about-us-one-center-area pbmit-bg-color-global pbmit-fid-space">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="520" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">520</span>
                                <span class="pbmit-fid"><span>+</span></span>
                            </h4>
                            <div class="pbmit-heading-desc">Professional and Experienced staff ready to help you</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-5 about-us-one-col-3">
                <div class="about-us-one-rightbox">
                    <div class="pbmit-bg-overlay"></div>
                    <h2 class="pbmit-heading">Easy Booking & Fast <br> Communication</h2>
                    <div class="pbmit-icon-btn">
                        <div class="pbmit-btn-wrap">
                            <a class="pbmit-btn" href="contact-us.html">
                                <span class="pbmit-button-content-wrapper">
                                    <span class="pbmit-button-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                            <title>black-arrow</title>
                                            <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                            <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                            <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                        </svg>
                                    </span>
                                    <span class="pbmit-button-text">Book Now</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us end --> 

<!-- Ihbox Start --> 
<section class="section-lg ihbox-one-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-6">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Why choose us?</h4>
                    <h2 class="pbmit-title">We work many fields to clean your surrounding area</h2>
                </div>
                <a class="pbmit-btn pbmit-btn-outline" href="about-us.html">
                    <span class="pbmit-button-content-wrapper">
                        <span class="pbmit-button-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                <title>black-arrow</title>
                                <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                            </svg>
                        </span>
                        <span class="pbmit-button-text">Know More</span>
                    </span>
                </a>
            </div>
            <div class="col-md-12 col-xl-6 pt-xl-0 pt-4">
                <div class="row pb-md-4">
                    <div class="col-md-6">
                        <div class="pbmit-ihbox-style-1">
                            <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                    <img src="/images/logos/biosolve.svg" alt="">
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Bio Solve</h2>
                                    <div class="pbmit-heading-desc">Office Services Sweeping Mopping Kitchen Cleaning, Equipped with the most modern appliances Services</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-xl-0 pt-4">
                        <div class="pbmit-ihbox-style-1">
                            <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                    <img src="/images/logos/ekota.svg" alt="">
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Ekota</h2>
                                    <div class="pbmit-heading-desc">cleaning and sanitizing may be the most important aspects of a clean and stored in a clean, sanitary manner</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pbmit-ihbox-style-1">
                                <div class="pbmit-ihbox-headingicon">
                                    <div class="pbmit-ihbox-icon">
                                        <img src="/images/logos/HYGIA.svg" alt="">
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">Hygia</h2>
                                        <div class="pbmit-heading-desc">We provide you the best service quality with best rate all the time no matter you're looking for residential or commercial</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-xl-0 pt-4">
                            <div class="pbmit-ihbox-style-1">
                                <div class="pbmit-ihbox-headingicon">
                                    <div class="pbmit-ihbox-icon">
                                        <img src="/images/logos/izzah.svg" alt="">
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">Izzah</h2>
                                        <div class="pbmit-heading-desc">We make sure that we had all the tools and equipment you need to provide high-quality service to our clients</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ihbox end --> 

<!-- Marquee Start --> 
<section>
    <div class="container-fluid p-0">
        <div class="swiper-slider marquee">
            <div class="swiper-wrapper">
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Cleaning">
                            Cleaning
                        </h2>
                    </div>
                </article>
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Moping">
                            Moping
                        </h2>
                    </div>
                </article>
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Vacuum">
                            Vacuum
                        </h2>
                    </div>
                </article>
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Sweeping">
                            Sweeping
                        </h2>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Marquee End -->



<!-- Service Start --> 
<section class="service-one-bg section-lg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10 col-lg-8">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Our Categories</h4>
                    <h2 class="pbmit-title">Explore Our Categories</h2>
                </div>
            </div>
            <div class="col-md-2 col-lg-4 text-end">
                <div class="service-swiper-arrow swiper-btn-custom d-inline-flex flex-row-reverse"></div> 
            </div>
        </div>
        <div class="swiper-slider" data-arrows-class="service-swiper-arrow" data-autoplay="false" data-loop="true" data-dots="false" data-arrows="true" data-columns="3" data-margin="40" data-effect="slide">
            <div class="swiper-wrapper">
                <!-- Slide1 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/HYGIA2.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Residential Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">01</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Air Freshener</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Dispensers</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide2 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/banner4.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Office Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">02</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Cleaner</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Bins & Trollys</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide3 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/banner6.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Floor Cleaner">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">03</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Custodian</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Cleaning Tools</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide4 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/pe-glove.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Domestic Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">04</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Disinfectant</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Disposables</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide7 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/p10.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Carpet Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">07</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Vacuum</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Cleaning Liquids</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide8 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/banner3.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Commercial Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">08</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Air Freshener</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Tissues & rolls</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide9 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/EKOTA1.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="service-details.html" title="Furniture Polish">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="service-details.html"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <div class="pbminfotech-box-number">09</div>
                                <div class="pbmit-serv-cat">
                                    <a href="services.html" rel="tag">Disinfectant</a>
                                </div>
                                <h3 class="pbmit-service-title">
                                    <a href="service-details.html">Bowls & Plates</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>We provide you the best service quality with best matter you’re looking for residential or commercial cleaning services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Service End -->

<!-- Fid Start --> 
<section class="section-lg">
    <div class="container">
        <div class="fid-one-area">
            <div class="pbmit-text-editor">
                <span>Fun and facts</span>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="250" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">250</span>
                                <span class="pbmit-fid"><span>+</span></span>
                            </h4>
                            <div class="pbmit-heading-desc">Professional and Experienced staff ready to help you anytime.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="14" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">14</span>
                                <span class="pbmit-fid"><sub>m</sub></span>
                            </h4>
                            <div class="pbmit-heading-desc">Proving all type of cleaning solutions  every small and big businesses</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="460" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">460</span>
                                <span class="pbmit-fid"><span>+</span></span>
                            </h4>
                            <div class="pbmit-heading-desc">We start with a thorough detail clean throughout your house.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="30" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">30</span>
                                <span class="pbmit-fid"><sub>k</sub></span>
                            </h4>
                            <div class="pbmit-heading-desc">We hold a successful track record of satisfying our customers.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fid End --> 

<!-- Contact Start -->
<section class="contact-one-bg">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-12 col-xl-6 bg-blackish">
                <form>
                    <div class="pbmit-appointment-form-inner">
                        <div class="pbmit-heading-subheading">
                            <h4 class="pbmit-subtitle">Cost Calculator</h4>
                            <h2 class="pbmit-title">Get your free <br> estimate!</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-select">
                                    <option value="Choose a Service">Choose a Service</option>
                                    <option value="Residential Cleaning">Residential Cleaning</option>
                                    <option value="Office Cleaning">Office Cleaning</option>
                                    <option value="Domestic Cleaning">Domestic Cleaning</option>
                                    <option value="Carpet 6Cleaning">Carpet 6Cleaning</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select">
                                    <option value="Type of Clean">Type of Clean</option>
                                    <option value="Domestic">Domestic</option>
                                    <option value="Sweeping">Sweeping</option>
                                    <option value="Custodian">Custodian</option>
                                    <option value="Vacuum">Vacuum</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Total Floor Area (sq ft)" name="Total" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Your Name" name="your-name" required>
                            </div>
                            <div class="col-md-6">
                                <input name="emial-address" class="form-control" placeholder="Email Address" required>
                            </div>
                            <div class="col-md-6">
                                <div class="input-text-group">
                                    <p>Submit this information and we will send you the cost for the service.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-button">
                        <button class="pbmit-btn">
                            <span class="pbmit-button-content-wrapper">
                                <span class="pbmit-button-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                        <title>black-arrow</title>
                                        <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                        <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                    </svg>
                                </span>
                                <span class="pbmit-button-text">Get Cost Estimate</span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-xl-6"></div>
        </div>
    </div>
</section>
<!-- Contact End -->

<!-- Testimonial Start -->
<section class="section-lg testimonial-one-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-7">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Testimonials</h4>
                    <h2 class="pbmit-title">Trusted by thousand of <br> people & companies.</h2>
                </div>
            </div>
            <div class="col-md-4 col-lg-5 text-end">
                <div class="testimonial-swiper-arrow swiper-btn-custom d-inline-flex flex-row-reverse"></div> 
            </div>
        </div>
        <div class="swiper-slider" data-arrows-class="testimonial-swiper-arrow" data-autoplay="true" data-loop="true" data-dots="false" data-arrows="true" data-columns="2" data-margin="40" data-effect="slide">
            <div class="swiper-wrapper">
                <!-- Slide1 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“I would recommend practitioners at this center to everyone! They are great to work with and are excellent trainers. Thank you all!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Evangeline Lee</h3>
                            <div class="pbminfotech-testimonial-detail">Manager</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/homepage-1/testimonial/testimonial-01.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide2 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“I would recommend practitioners at this center to everyone! They are great to work with and are excellent trainers. Thank you all!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Adeline wood</h3>
                            <div class="pbminfotech-testimonial-detail">Satisfied Client</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/homepage-1/testimonial/testimonial-02.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide3 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“I would recommend practitioners at this center to everyone! They are great to work with and are excellent trainers. Thank you all!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Naomi Violet</h3>
                            <div class="pbminfotech-testimonial-detail">Customer</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/homepage-1/testimonial/testimonial-03.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide4 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“I would recommend practitioners at this center to everyone! They are great to work with and are excellent trainers. Thank you all!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Hazel Jenkins</h3>
                            <div class="pbminfotech-testimonial-detail">Satisfied Client</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/homepage-1/testimonial/testimonial-04.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide5 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“I would recommend practitioners at this center to everyone! They are great to work with and are excellent trainers. Thank you all!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Ariana Green</h3>
                            <div class="pbminfotech-testimonial-detail">Manager</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/homepage-1/testimonial/testimonial-05.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide6 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“I would recommend practitioners at this center to everyone! They are great to work with and are excellent trainers. Thank you all!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Parsons William</h3>
                            <div class="pbminfotech-testimonial-detail">Ceo & Founder</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/homepage-1/testimonial/testimonial-06.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->  

<!-- Client Start -->
<section>
    <div class="container">
        <div class="border-top section-md">
            <div class="row">
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-01.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-01.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-02.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-02.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-03.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-03.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-04.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-04.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-05.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-05.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-06.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-06.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Client End -->



